<div class="container">
    <br/>
    <div class="col-md-4 col-md-offset-4">
        <div class="jumbotron text-center">
            <div class="row">
                <h3>{{title}}</h3>
            </div>
            <div class="row">
                <img src="app/img/logo.png" width="150" height="150">
            </div>
            <p>Movies</p>
            <div class="row">
                <div class="btn-group">
                    <a href="#!movies/form"><button class="btn btn-danger">New Movie</button></a>
                    <a href="#!movies/list"><button class="btn btn-danger">List Movies</button></a>
                </div>
            </div>
            <br/>
            <p>Series</p>
            <div class="row">
                <div class="btn-group">
                    <a href="#!series/form"><button class="btn btn-danger">New Series</button></a>
                    <a href="#!series/list"><button class="btn btn-danger">List Series</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
