<div class="container">
  <div class="col-8 col-offset-2">
    <div class="row featurette text-center">
      <h1>{{series.title}}</h1>
      <h2 class="featurette-heading">{{episode.title}}</h2>
      <p>Season {{season.season}} Episode {{ episode.index }}</p>
      <p class="lead">{{episode.description}}</p>
      <hr class="featurette-divider"/>
    </div>
    <div class="row">
      <video id="video" class="video-js center-block" controls preload="auto" width="1000px" height="600px" poster="{{ episode.cover_url }}" ng-src="{{ episode.video.urls.stream_url }}">
          <track
            ng-repeat="subtitle in episode.subtitles"
            src=" {{subtitle.urls.src_url}}"
            kind="subtitles"
            srclang="subtitle.srclang"
            label="subtitle.label"
          />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
  </div>
</div>
