<div class="container">
  <div class="col-8 col-offset-2">
    <div class="row featurette text-center">
      <h2 class="featurette-heading">{{movie.title}}</h2>
      <p class="lead">{{movie.description}}</p>
      <hr class="featurette-divider"/>
    </div>
    <div class="row">
      <video id="video" class="video-js center-block" controls preload="auto" width="1000px" height="600px" poster="{{ movie.cover_url }}" ng-src="{{ movie.video.urls.stream_url }}">
          <track
            ng-repeat="subtitle in movie.subtitles"
            src=" {{subtitle.urls.src_url}}"
            kind="subtitles"
            srclang="subtitle.srclang"
            label="subtitle.label"
          />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
  </div>
</div>
