<div class="container">
    <div class="col-8 col-offset-2">
        <h2 class="text-center">{{Episode.series.title}}</h3>
        <h3 class="text-center">Season {{Episode.season.season}}</h2>
          <br />
        <table class="table" ng-init="Episode.init()">
            <tr>
                <th class="text-center">Episode</th>
                <th class="text-center">Title</th>
                <th class="text-center">Description</th>
                <th class="text-center">Poster</th>
            </tr>
            <tr class="text-center" ng-repeat="episode in Episode.list" ng-click="Episode.select(episode)">
                <td>{{episode.index}}</td>
                <td class="align-middle">{{ episode.title }}</td>
                <td>{{ episode.description }}</td>
                <td><img class="thumbnail" ng-src={{episode.cover_url}} style="max-width: 300px; max-height: 300px;"></td>
            </tr>
        </table>
    </div>
</div>
</div>
