<div class="container">
  <div class="container">
      <div class="col-8 col-offset-2">
          <h3 class="text-center">Movies</h3>
          <table class="table" ng-init="Movie.init()">
              <tr>
                  <th class="text-center">Title</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Year</th>
                  <th class="text-center">Poster</th>
              </tr>
              <tr class="text-center" ng-repeat="movie in Movie.list" ng-click="Movie.select(movie)">
                  <td class="align-middle">{{ movie.title }}</td>
                  <td>{{ movie.description }}</td>
                  <td>{{ movie.year }}</td>
                  <td><img class="thumbnail" ng-src={{movie.cover_url}} style="max-width: 300px; max-height: 300px;"></td>
              </tr>
          </table>
      </div>
  </div>
</div>
