<div class="container">
    <div class="col-8 col-offset-2">
        <h2 class="text-center">{{Season.series.title}}</h2>
        <h3 class="text-center">Seasons</h3>
        <br />
        <table class="table" ng-init="Season.init()">
            <tr>
                <th class="text-center">Season</th>
                <th class="text-center">Description</th>
                <th class="text-center">Year</th>
                <th class="text-center">Poster</th>
            </tr>
            <tr class="text-center" ng-repeat="season in Season.list" ng-click="Season.select(season)">
                <td class="align-middle">{{ season.season }}</td>
                <td>{{ season.description }}</td>
                <td>{{ season.year }}</td>
                <td><img class="thumbnail" ng-src={{season.cover_url}} style="max-width: 300px; max-height: 300px;"></td>
            </tr>
        </table>
    </div>
</div>
</div>
