<div class="container">
    <div class="col-8 col-offset-2">
        <h3 class="text-center">Series</h3>
        <br />
        <table class="table" ng-init="Series.init()">
            <tr class="text-center">
                <th class="text-center">Title</th>
                <th class="text-center">Description</th>
                <th class="text-center">Year</th>
                <th class="text-center">Poster</th>
            </tr>
            <tr class="text-center" ng-repeat="series in Series.list" ng-click="Series.select(series)">
                <td class="align-middle">{{ series.title }}</td>
                <td>{{ series.description }}</td>
                <td>{{ series.year }}</td>
                <td><img class="thumbnail" ng-src={{series.cover_url}} style="max-width: 300px; max-height: 300px;"></td>
            </tr>
        </table>
    </div>
</div>
</div>
